In [1]:
import pandas as pd

In [2]:
df=pd.read_clipboard()

In [3]:
df.head(10)

  Duration,Pulse,Maxpulse,Calories
0                 60,110,130,409.1
1                 60,117,145,479.0
2                 60,103,135,340.0
3                 45,109,175,282.4
4                 45,117,148,406.0
5                 60,102,127,300.5
6                 60,110,136,374.0
7                 45,104,134,253.3
8                 30,109,133,195.1
9                  60,98,124,269.0

In [4]:
df.columns

Index(['Duration,Pulse,Maxpulse,Calories'], dtype='object')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 1 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Duration,Pulse,Maxpulse,Calories  169 non-null    object
dtypes: object(1)
memory usage: 1.4+ KB

In [7]:
df.shape

(169, 1)

In [8]:
df.describe()

       Duration,Pulse,Maxpulse,Calories
count                               169
unique                              163
top                    60,109,153,387.6
freq                                  2

In [9]:
df.isnull().sum()

Duration,Pulse,Maxpulse,Calories    0
dtype: int64

In [15]:
df.to_csv("health_data.to_csv")

In [16]:
df1=pd.read_csv("health_data.to_csv")

In [17]:
df1

     Unnamed: 0 Duration,Pulse,Maxpulse,Calories
0             0                 60,110,130,409.1
1             1                 60,117,145,479.0
2             2                 60,103,135,340.0
3             3                 45,109,175,282.4
4             4                 45,117,148,406.0
..          ...                              ...
164         164                 60,105,140,290.8
165         165                 60,110,145,300.4
166         166                 60,115,145,310.2
167         167                 75,120,150,320.4
168         168                 75,125,150,330.4

[169 rows x 2 columns]

In [19]:
df1.columns

Index(['Unnamed: 0', 'Duration,Pulse,Maxpulse,Calories'], dtype='object')